// RoutineNote 상단 Days Menu 
.dr-days {
  display: block;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-top: 5px;

  .dr-days__flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    flex-wrap: nowrap;

    .dr-days__item {
      display: inline-block;
      position: relative;
      height: auto;
      padding: 0.5em 1em;
      border-radius: 5px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #f5f6f8;
      }

      // 현재 선택
      &.dr-days__current {
        position: relative;
        font-size: 1.02em;
        padding: 0.6em 1.1em;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
        border: 2px solid #c8ccd4;
        border-radius: 7px;
        top: -5px;
        transition: top 0.5s ease;
      }

      // 오늘
      &.dr-days__today {
        background-color: hsla(var(--color-accent-1-hsl), 1) !important;
      }
      
    }
    
  }
}


// ROUTINE NOTE
.dr-note {

  // 헤더
  .dr-note__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em;

    // 타이틀
    div {
      display: flex;
      justify-content: start;
      align-items: end;
      gap: 0.9em;
      h1 {
        display: inline-block;
        margin: 0;
      }
      span {
        font-size: 1.1em;
      }
    }

    // 루틴 추가 버튼
    .dr-note__add-routine {
      cursor: pointer;
    }
  }
}



// 루틴 컴포넌트 레이아웃 설정
.dr-routine *,
.dr-routine ::after,
.dr-routine ::before {
  box-sizing: border-box;
}

// 개별 루틴 
.dr-routine {
  display: block;
  font-size: 16px; /* 전체적 루틴의 사이즈를 결정 */
  width: fit-content;
  padding: calc(0.5em) 0;
  cursor: pointer;
  min-width: 50%;
  &.dr-routine--pressed { // context menu를 표시하려고 누르고 있는 상태에
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .dr-routine__flex {
    display: flex;
    align-items: center;
    vertical-align: baseline;
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    line-height: 1;

    .dr-routine__cbx {
      position: relative;
      top: calc(1/32 * 1em);
      display: inline-block;
      width: calc(14/16 * 1em);
      height: calc(14/16 * 1em);
      margin-right: calc(0.5em);
      border: calc(1/16 * 1em) solid #c8ccd4;
      border-radius: 3px; /* 체크박스 곡률 */
      cursor: pointer;
      svg {
        position: relative;
        width: calc(7/8 * 1em);
        height: calc(3/4 * 1em);
        top: calc(-1/16 * 1em);
        transform: scale(0);
        fill: none;
        stroke-linecap: round;
        stroke-linejoin: round;
        polyline {
          stroke-width: 3;
          stroke: hsla(var(--color-accent-1-hsl), 1);
        }
      }
      // 체크표시 아이콘
      &:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        margin: calc(-5/8 * 1em) 0 0 calc(-5/8 * 1em);
        width: calc(5/4 * 1em);
        height: calc(5/4 * 1em);
        border-radius: 100%;
        background: hsla(var(--color-accent-1-hsl), 1.0);
        transform: scale(0);
      }
      /* 체크 이펙트 */
      &:after {
        content: '';
        position: absolute;
        top: calc(5/16 * 1em);
        left: calc(5/16 * 1em);
        width: calc(1/8 * 1em);
        height: calc(1/8 * 1em);
        border-radius: 2px; 
        box-shadow: 0 calc(9/8 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * 1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), 0 calc(9/8 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * -1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0);
        transform: scale(0);
      }
    }
    // 루틴 이름
    .dr-routine__name {
      position: relative;
      cursor: pointer;
      transition: color 0.3s ease;
      // 체크선(check되면 width를 100%로 바꿔서 애니메이션과 함께 나타나도록)
      &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        width: 0;
        height: 1px;
        background: #9098a9;
      }
    }
  }
}
// 체크된 상태
.dr-routine.dr-routine--checked {
  .dr-routine__cbx {
    border-color: transparent;
    svg {
      transform: scale(1);
      transition: all 0.4s ease;
      transition-delay: 0.1s;
    }
    &:before {
      transform: scale(1);
      opacity: 0;
      transition: all 0.3s ease;
    }
    &:after {
      transform: scale(1);
      opacity: 0;
      transition: all 0.6s ease;
    }
  }
  .dr-routine__name {
    color: #9098a9;
    &:after {
      width: 100%;
      transition: all 0.4s ease;
    }
  }
}





////////////////////////////////////////////
// Routine Option Modal 창
/////////////////////////////////////////////
.dr-routine-option {
  /* 헤더 */
  // .dr-routine-option__header {}

  /* 옵션 본문 */
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    // 섹션 하나하나 전체
    .dr-routine-option__section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


// 이름 변경 section
.dr-routine-option__name {
  // 이름 변경 input
  div {
    display: flex;
    justify-content: end;
    width: 100%;
    input {
      width: 40%;
    }
  }
  button {
    margin-left: 1em;
    cursor: pointer;
  }
}


// 요일 선택 section
.dr-routine-option__days {
  .dr-routine-option__day-list {
    button {
      margin: 0 0.5em;
      cursor: pointer;
      &.dr-routine-option__day--active {
        background-color: var(--color-accent-2);
      }
    }
  }
}


// 루틴 삭제 section
.dr-routine-option__delete {
  button {
    color: rgba(var(--color-red-rgb), 1);
    cursor: pointer;
  }
}
// 삭제 버튼을 누르면 나오는 삭제확인 모달
.dr-routine-delete-modal {
  width: calc(var(--dialog-width) * 0.8);
  .dr-routine-delete-modal__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

    div {
      button {
        padding: 0.5em 1em;
        cursor: pointer;
        margin: 0 0.5em;
        &.dr-routine-delete-modal__confirm {
          color: rgba(var(--color-red-rgb), 1);
        }
      }
    }
  }
}
