
/* #####################################################################
 * ########################## Days Menu ################################
 * ##################################################################### */
.dr-days {
  display: block;
  width: 100%;
  overflow-x: scroll;
  scrollbar-width: none;
  padding-top: 5px;
}

.dr-days__flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
  flex-wrap: nowrap;
}

.dr-days__item {
  display: inline-block;
  position: relative;
  height: auto;
  padding: 0.5em 1em;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dr-days__item:hover {
  background-color: #f5f6f8;
}

.dr-days__current {
  position: relative;
  font-size: 1.02em;
  padding: 0.6em 1.1em;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1) !important;
  border: 2px solid #c8ccd4;
  border-radius: 7px;
  top: -5px;
  transition: top 0.5s ease;
}

.dr-days__today {
  background-color: hsla(var(--color-accent-1-hsl), 1) !important;
}

/* #####################################################################
 * ####################### ROUTINE NOTE ################################
 * ##################################################################### */
.dr-note__header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em;
}

.dr-note__header div {
  display: flex;
  justify-content: start;
  align-items: end;
  gap: 0.9em;
}

.dr-note__header div h1 {
  display: inline-block;
  margin: 0;
}

.dr-note__header div span {
  font-size: 1.1em;
}

.dr-note__header button.dr-note__add-routine {
  cursor: pointer;
}


/* #####################################################################
 * ####################### ROUTINE COMPONENT ###########################
 * ##################################################################### */

/* 최상위 루틴 */
.dr-routine {
  display: block;
  font-size: 16px; /* 전체적 루틴의 사이즈를 결정 */
  width: fit-content;
  padding: calc(0.5em) 0;
  /* border: 1px solid #c8ccd4; */
  cursor: pointer;
  min-width: 50%;
}

/* 루틴 눌렸을 때 */
.dr-routine--pressed {
  /* 안쪽으로 눌린 듯한 그림자 효과 */
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}



/* 전체 감싸주는 라벨 */
.dr-routine label {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  vertical-align: baseline;
  line-height: 1;
}

/* 레이아웃 */
.dr-routine *,
.dr-routine ::after,
.dr-routine ::before {
  box-sizing: border-box;
}

/* 보이지 않는 input checkbox */
.dr-routine input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

/* 루틴 아이템 */
.dr-routine .dr-routine__item {
  display: flex;
  align-items: center;
}


/* 실제로 보이는 디자인용 체크박스 */
.dr-routine .dr-routine__item .dr-routine__cbx {
  position: relative;
  top: calc(1/32 * 1em);
  display: inline-block;
  width: calc(14/16 * 1em);
  height: calc(14/16 * 1em);
  margin-right: calc(0.5em);
  border: calc(1/16 * 1em) solid #c8ccd4;
  border-radius: 3px; /* 체크박스 곡률 */
  cursor: pointer;
}
.dr-routine .dr-routine__item .dr-routine__cbx svg {
  position: relative;
  width: calc(7/8 * 1em);
  height: calc(3/4 * 1em);
  top: calc(-1/16 * 1em);
  transform: scale(0);
  fill: none;
  stroke-linecap: round;
  stroke-linejoin: round;
}
.dr-routine .dr-routine__item .dr-routine__cbx svg polyline {
  stroke-width: 3;
  stroke: hsla(var(--color-accent-1-hsl), 1);
}
/* 체크 표시 아이콘 */
.dr-routine .dr-routine__item .dr-routine__cbx:before {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  margin: calc(-5/8 * 1em) 0 0 calc(-5/8 * 1em);
  width: calc(5/4 * 1em);
  height: calc(5/4 * 1em);
  border-radius: 100%;
  background: hsla(var(--color-accent-1-hsl), 1.0);
  transform: scale(0);
}
/* 체크 이펙트 */
.dr-routine .dr-routine__item .dr-routine__cbx:after {
  content: '';
  position: absolute;
  top: calc(5/16 * 1em);
  left: calc(5/16 * 1em);
  width: calc(1/8 * 1em);
  height: calc(1/8 * 1em);
  border-radius: 2px; 
  box-shadow: 0 calc(9/8 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * 1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), 0 calc(9/8 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * -1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0);
  transform: scale(0);
}
.dr-routine .dr-routine__item input:checked + .dr-routine__cbx {
  border-color: transparent;
}
.dr-routine .dr-routine__item input:checked + .dr-routine__cbx svg {
  transform: scale(1);
  transition: all 0.4s ease;
  transition-delay: 0.1s;
}
.dr-routine .dr-routine__item input:checked + .dr-routine__cbx:before {
  transform: scale(1);
  opacity: 0;
  transition: all 0.3s ease;
}
.dr-routine .dr-routine__item input:checked + .dr-routine__cbx:after {
  transform: scale(1);
  opacity: 0;
  transition: all 0.6s ease;
}

/* 루틴 이름 */
.dr-routine .dr-routine__item .dr-routine__name {
  position: relative;
  cursor: pointer;
  transition: color 0.3s ease;
}
/* 체크된 루틴 글씨색 */
.dr-routine .dr-routine__item input:checked ~ .dr-routine__name {
  color: #9098a9;
}

/* 루틴 이름 밑줄 */
.dr-routine .dr-routine__item .dr-routine__name:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  width: 0;
  height: 1px;
  background: #9098a9;
}
.dr-routine .dr-routine__item input:checked ~ .dr-routine__name:after {
  width: 100%;
  transition: all 0.4s ease;
}


/* #####################################################################
 * ####################### ROUTINE MODAL ###############################
 * ##################################################################### */
.dr-routine-modal {
}

/* 헤더 */
.dr-routine-modal__header {
}

/* 옵션 세션 */
.dr-routine-modal section {
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.dr-routine-modal__section {
  display: flex;
  justify-content: space-between;
  align-items: center;
}


/* 이름 변경 */
.dr-routine-modal__name div {
  width: 100%;
  display: flex;
  justify-content: end;
}
/* 이름 변경 input */
.dr-routine-modal__name input {
  width: 40%;
}
.dr-routine-modal__name button {
  margin-left: 1em;
  cursor: pointer;
}


/* 요일 */
.dr-routine-modal__days .dr-routine-modal__day-list button {
  margin: 0 0.5em;
  cursor: pointer;
}
.dr-routine-modal__days .dr-routine-modal__day-list button.dr-routine-modal__day--active {
  background-color: var(--color-accent-2);
}


/* 루틴 삭제 버튼 */
.dr-routine-modal__delete button {
  color: rgba(var(--color-red-rgb), 1);
  cursor: pointer;
}
/* 삭제 버튼을 누르면 나오는 삭제확인 모달 */
.dr-routine-delete-modal {
  width: calc(var(--dialog-width) * 0.8);
}
.dr-routine-delete-modal .dr-routine-delete-modal__content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 1em 0;
}
.dr-routine-delete-modal div button {
  padding: 0.5em 1em;
  cursor: pointer;
  margin: 0 0.5em;
}
.dr-routine-delete-modal .dr-routine-delete-modal__confirm {
  color: rgba(var(--color-red-rgb), 1);
}
