// 루틴 컴포넌트 레이아웃 설정
.dr-task *,
.dr-task ::after,
.dr-task ::before {
  box-sizing: border-box;
}

// 루틴 기본 레이아웃 
.dr-task {
  display: block;
  font-size: 16px; /* 전체적 루틴의 사이즈를 결정 */
  width: 100%;
  height: 2.3em;
  padding: 0 0.5em;
  margin: 0 0;
  cursor: pointer;
  
  .dr-task__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;

    .dr-task__main {
      display: flex;
      align-items: center;
      line-height: 1;
  
      .dr-task__cbx {
        position: relative;
        top: calc(1/32 * 1em);
        display: inline-block;
        width: calc(14/16 * 1em);
        height: calc(14/16 * 1em);
        margin-right: calc(0.5em);
        border: calc(1/16 * 1em) solid #c8ccd4;
        border-radius: 3px; /* 체크박스 곡률 */
        cursor: pointer;
        svg {
          position: relative;
          width: calc(7/8 * 1em);
          height: calc(3/4 * 1em);
          top: calc(-1/16 * 1em);
          transform: scale(0);
          fill: none;
          stroke-linecap: round;
          stroke-linejoin: round;
          polyline {
            stroke-width: 2;
            stroke: hsla(var(--color-accent-1-hsl), 1);
          }
        }
        // 체크표시 아이콘
        &:before {
          content: '';
          position: absolute;
          top: 50%;
          left: 50%;
          margin: calc(-5/8 * 1em) 0 0 calc(-5/8 * 1em);
          width: calc(5/4 * 1em);
          height: calc(5/4 * 1em);
          border-radius: 100%;
          background: hsla(var(--color-accent-1-hsl), 1.0);
          transform: scale(0);
        }
        /* 체크 이펙트 */
        &:after {
          content: '';
          position: absolute;
          top: calc(5/16 * 1em);
          left: calc(5/16 * 1em);
          width: calc(1/8 * 1em);
          height: calc(1/8 * 1em);
          border-radius: 2px; 
          box-shadow: 0 calc(9/8 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * 1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * 1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), 0 calc(9/8 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * 1em) 0 hsla(var(--color-accent-1-hsl), 1.0), calc(9/8 * -1em) 0 0 hsla(var(--color-accent-1-hsl), 1.0), calc(3/4 * -1em) calc(3/4 * -1em) 0 hsla(var(--color-accent-1-hsl), 1.0);
          transform: scale(0);
        }
      }
      
      .dr-task__name {
        position: relative;
        cursor: pointer;
        transition: color 0.3s ease;
        // 체크선(check되면 width를 100%로 바꿔서 애니메이션과 함께 나타나도록)
        &:after {
          content: '';
          position: absolute;
          top: 50%;
          left: 0;
          width: 0;
          height: 1px;
          background: #9098a9;
        }
      }
    }

    .dr-task__option {
      width: 1.2em;
      cursor: pointer;
      position: relative;
      svg {
        position: absolute;
        transform: translateY(-50%);
        width: 1.2em;
      }
    }
  }

}

// 체크된 상태
.dr-task.dr-task--checked {
  .dr-task__container .dr-task__main {
    .dr-task__cbx {
      border-color: transparent;
      svg {
        transform: scale(1);
        transition: all 0.4s ease;
        transition-delay: 0.1s;
      }
      &:before {
        transform: scale(1);
        opacity: 0;
        transition: all 0.3s ease;
      }
      &:after {
        transform: scale(1);
        opacity: 0;
        transition: all 0.6s ease;
      }
    }
    .dr-task__name {
      color: #9098a9;
      &:after {
        width: 100%;
        transition: all 0.4s ease;
      }
    }
  }
}

// dnd
.dr-task--ready, .dr-task--dragging {
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 5px; 
    // background-color: rgba(203, 203, 203, 0.5);
    background-color: hsla(var(--color-accent-1-hsl), 0.5)
  }
}