

////////////////////////////////
// 요일 선택 section
.dr-routine-option-days {
  &__list {
    .dr-routine-option-days__day {
      margin: 0 0.5em;
      &--active {
        background-color: var(--color-accent-2);
      }
    }
  }
}



////////////////////////////////////////////
// Routine Option Modal 창
.dr-routine-option {
  /* 헤더 */
  // .dr-routine-option__header {}

  /* 옵션 본문 */
  section {
    display: flex;
    flex-direction: column;
    gap: 1em;

    // 섹션 하나하나
    .dr-routine-option__section {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
  }
}


// 이름 변경 section
.dr-routine-option-name {
  // 이름 변경 input
  div {
    display: flex;
    justify-content: end;
    width: 100%;
    input {
      width: 40%;
    }
  }
  button {
    margin-left: 1em;
  }
}



// 루틴 삭제 section
.dr-routine-option-delete {
  button {
    color: rgba(var(--color-red-rgb), 1);
  }
}
// 삭제 버튼을 누르면 나오는 삭제확인 모달
.dr-routine-option-delete-modal {
  width: calc(var(--dialog-width) * 0.8);
  .dr-routine-option-delete-modal__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 1em 0;

    div {
      button {
        padding: 0.5em 1em;
        margin: 0 0.5em;
        &.dr-routine-option-delete-modal__confirm {
          color: rgba(var(--color-red-rgb), 1);
        }
      }
    }
  }
}
